<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>coverage report</title>
  <link rel="stylesheet" type="text/css" href="gcov.css">
</head>

<body>

  <table width="100%%" border=0 cellspacing=0 cellpadding=0>
    <tr><td class="title">Unittest - incremental code coverage report</td></tr>
    <tr><td class="ruler"><img src="glass.png" width=3 height=6 alt=""></td></tr>
    
    <tr>
      <td width="100%%">
        <table cellpadding=1 border=0 width="100%%">
          <tr>
            <td></td>
            <td width="33%%" class="headerCovTableHead">UT covered</td>
            <td width="33%%" class="headerCovTableHead">Total</td>
            <td width="33%%" class="headerCovTableHead">Coverage</td>
          </tr>
          <tr>
            <td class="headerItem">Incremental Lines:</td>
            <td class="headerCovTableEntry">%(cov_lines)s</td>
            <td class="headerCovTableEntry">%(change_linenum)s</td>
            <td class="headerCovTableEntry">%(coverage)s %%</td>
          </tr>
          <tr><td><img src="glass.png" width=3 height=3 alt=""></td></tr>
        </table>
      </td>
    </tr>

    <tr><td class="ruler"><img src="glass.png" width=3 height=3 alt=""></td></tr>
  </table>

  <center>
  <br>
  <table width="100%%" cellpadding=1 cellspacing=1 border=0>
    <tr>
      <td width="60%%" class="tableHead">File </td>
      <td width="40%%" class="tableHead">Uncovered Lines </td>
    </tr>
    %(uncover_trs)s
  </table>
  </center>
  <br>


</body>
</html>
